.login {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.login-form {
    width: 50%;
    margin: 0 0 16px 32px;
}

.login-title {
    display: flex;
    justify-content: center;
}

.message-text {
    color: red;
}

@media screen and (max-width: 1200px) {
    .login-form {
        margin: 0 0 12px 12px;
    }
    .login {
        display: block;
        width: 250px;
        margin: 0 auto;
    }

}